#menu {
        width: 30;
        height: auto;
        border: solid cyan;
        background: black;
    }

MainWindow {
        width: 100%;
        height: 1fr;
    }

#devicefeed {
        width: 55%;
        border: solid green;
    }

#messagefeed {
        width: 45%;
        border: solid cyan;
    }
KismetHeader {
    width: 100%;
    height: 3;
}

#wifi {
    width: 25%;
}

#title {
    width: 25%;
    text-align: center;
}

#bluetooth {
    width: 25%;
    text-align: center;
}

#clock {
    width: 25%;
    text-align: right;
}